---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Page Not Found - The Tangerine Club"
    description="Sorry, the page you're looking for doesn't exist."
>
    <section class="flex flex-col items-center justify-center mt-24">
        <img src="/images/404.webp" alt="404" class="size-36" />
        <h1 class="text-xl -skew-x-6 font-bold text-center mt-8">
            You're lost in the tangerine fields!
        </h1>
        <p class="text-lg
            text-center">
            The page you're looking for doesn't exist or has been moved.
        </p>

        <a
            href="/"
            class="text-white transform transition hover:scale-[1.15] hover:rotate-1 font-semibold mt-8 px-4 py-2 bg-orange-500"
            >Go back home</a
        >
    </section>
</Layout>
