---
import Layout from "@/layouts/Layout.astro";
import SectionTitle from "@components/SectionTitle.astro";

export const prerender = true;
---

<Layout
    title="Gallery - The Tangerine Club"
    description="Check out our gallery with photos from our performances, studio sessions, and more."
    image="https://the-tangerine-club.vercel.app/images/banner.webp"
>
    <section
        class="flex flex-col items-center justify-center mt-16 relative overflow-clip"
    >
        <div class="max-w-5xl w-full mx-auto px-5">
            <header class="text-center">
                <SectionTitle title="Gallery" />
            </header>
        </div>
    </section>
</Layout>
