---
import HomeBannerHero from "@sections/HomeBannerHero.astro";
import Layout from "../layouts/Layout.astro";
import HomeOriginalMusic from "@sections/HomeOriginalMusic.astro";
import HomeAboutUs from "@sections/HomeAboutUs.astro";
import HomeStreamSchedules from "@sections/HomeStreamSchedules.astro";
import HomeTopRequested from "@sections/HomeTopRequested.astro";
---

<Layout
	title="The Tangerine Club"
	description="The Tangerine Club is a music band that plays folk-pop, pop, indie, and alternative music. Check out our original music and live performances on Twitch."
>
	<HomeBannerHero />
	<HomeAboutUs />
	<HomeOriginalMusic />
	<HomeStreamSchedules />
	<HomeTopRequested />

	<section class="flex flex-col items-center justify-center mt-16">
		<img
			src="/images/emotes/ttcWine.webp"
			alt="The Tangerine Club Wine Emote"
			draggable="false"
			loading="lazy"
			class="mx-auto w-28 saturate-0 opacity-80 brightness-50"
		/>
		<span class="text-zinc-500 text-center mt-4"> Cheers! 🍷 </span>
	</section>
</Layout>
