---
import Layout from "@/layouts/Layout.astro";
import DonateWithPix from "@components/DonateWithPix.astro";
import SectionTitle from "@components/SectionTitle.astro";
---

<Layout
    title="Supporters - The Tangerine Club"
    description="Check out our supporters, the people who make our music possible."
>
    <section class="flex flex-col items-center justify-center mt-16">
        <div class="max-w-5xl w-full mx-auto px-5">
            <header class="text-center">
                <SectionTitle title="Supporters" />
                <p class="text-gray-300 mt-16">
                    We are grateful for the support of our fans, friends, and
                    family. <br />These are the people who make our music
                    possible.
                </p>
            </header>
            <DonateWithPix />

            <article class="py-8">
                <img
                    src="/images/404.webp"
                    alt="TTC Bot"
                    class="w-24 h-24 mx-auto"
                />
                <h2 class="text-2xl text-white text-center mt-4">
                    We are building this page. <br />
                </h2>
                <p class="text-gray-300 text-center mt-4">Stay tuned!</p>
            </article>
        </div>
    </section>
</Layout>
