---
import Layout from "@/layouts/Layout.astro";
import DonateWithPix from "@components/DonateWithPix.astro";
import SectionTitle from "@components/SectionTitle.astro";
import TangerineBoard from "@components/TangerineBoard.astro";
---

<Layout
    title="Supporters - The Tangerine Club"
    description="Check out our supporters, the people who make our music possible."
>
    <section class="flex flex-col items-center justify-center mt-16">
        <div class="max-w-5xl w-full mx-auto px-5">
            <header class="text-center">
                <SectionTitle title="Supporters" />
                <p class="text-gray-300 mt-16">
                    We are grateful for the support of our fans, friends, and
                    family. <br />These are the people who make our music
                    possible.
                </p>
            </header>
            <DonateWithPix />

           
            <TangerineBoard />
        </div>
    </section>
</Layout>

<style>
    @font-face {
        font-family: "Tiza";
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/tiza.woff2") format("woff2");
    }

    h2#tangerine-words:after {
        content: "a";
        @apply font-atomic-extras text-[80px] mt-2 absolute inset-x-0 text-center;
        z-index: -1;
    }
</style>
