<article class="py-8">
    <img
        src="/images/404.webp"
        alt="TTC Bot"
        class="w-24 h-24 mx-auto"
    />
    <h2 class="text-2xl text-white text-center mt-4">
        We are building this page. <br />
    </h2>
    <p class="text-gray-300 text-center mt-4">Stay tuned!</p>
</article>