<footer class="py-8 text-center text-sm text-gray-200 relative">
    <hr
        aria-hidden="true"
        class="my-12 h-[2px] w-full min-w-[18rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent bg-center"
    />
    <p>
        {new Date().getFullYear()} - Proudly made by <a
            href="https://instagram.com/alexitoo_uy"
            class="text-blue-200 hover:underline transition-colors hover:text-white"
            >Alexitoo_UY
        </a>
    </p>
</footer>
