<div id="vamoo-animation-secret" class="transition-opacity">
    <span></span>
</div>

<style>
    #vamoo-animation-secret {
        @apply pointer-events-none opacity-0 h-0 w-0 select-none;

        &.is-animating {
            background-color: rgba(0, 0, 0, 0.5);
            @apply opacity-100;
            justify-content: center;
            align-items: center;
            position: fixed;
            inset: 0;
            z-index: 9999;
            @apply !h-screen !w-full;

            span {
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url("/images/emotes/ttcVamoo.webp");
                background-position: center;
                background-size: 300px;
                background-repeat: no-repeat;
                animation: vamoo 8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
                    infinite;
            }
        }
    }

    /* Image from right to left */
    @keyframes vamoo {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>

<script>
    import { $ } from "@/lib/dom-selector";
    import confetti from "canvas-confetti";

    document.addEventListener("astro:page-load", () => {
        const $vamooAnimationSecret = $("#vamoo-animation-secret");
        const KEYS_SEQUENCE = [
            "ArrowUp",
            "ArrowUp",
            "ArrowDown",
            "ArrowDown",
            "ArrowLeft",
            "ArrowRight",
            "ArrowLeft",
            "ArrowRight",
            "b",
            "a",
        ];

        let keys = [];
        window.addEventListener("keydown", (event) => {
            keys.push(event.key);
            keys.splice(
                -KEYS_SEQUENCE.length - 1,
                keys.length - KEYS_SEQUENCE.length,
            );

            if (keys.join("").includes(KEYS_SEQUENCE.join(""))) {
                $vamooAnimationSecret?.classList.add("is-animating");
                /* Disable scroll on entire page */

                const $html = $("html");
                $html?.classList.add("overflow-hidden");

                setTimeout(() => {
                    $vamooAnimationSecret?.classList.remove("is-animating");
                    $html?.classList.remove("overflow-hidden");
                    confetti();
                }, 5000);
            }
        });
    });
</script>
