---
import SectionTitle from "@components/SectionTitle.astro";
---

<section id="original-music" class="mt-32">
    <header class="text-center">
        <SectionTitle title="Original Music ðŸŠ" />
    </header>
</section>
