---
import HeroLiveNow from "@components/HeroLiveNow.astro";

const CONFIG = {
    MIDU_API_UPTIME_WORKER: "https://midudev-apis.midudev.workers.dev/uptime",
};

const streamer = "TheTangerineClub";

let isStreamerOnline = false;
const response = await fetch(`${CONFIG.MIDU_API_UPTIME_WORKER}/${streamer}`);

if (response.ok) {
    const { online } = await response.json();
    isStreamerOnline = online;
}
---

<section id="hero-welcome" class="-mt-28 relative min-h-dvh flex items-center">
    <img
        id="backdrop-image"
        draggable="false"
        loading="eager"
        src="/images/banner.webp"
        alt="The Tangerine Club"
        class="absolute inset-0 object-cover w-full h-full select-none"
    />

    {
        isStreamerOnline ? (
            <HeroLiveNow streamer={streamer} />
        ) : (
            <header class="relative z-10 flex flex-col items-center justify-center h-full text-center max-w-4xl mx-auto px-5">
                <h1 class="bg-white text-2xl uppercase font-extrabold text-black mix-blend-screen px-10 py-5 sm:text-4xl md:text-5xl lg:text-6xl sm:px-16 sm:py-10">
                    The Tangerine Club
                    <img
                        src="/images/emotes/ttcNoted.webp"
                        alt="Noted"
                        class="size-10 sm:size-14 inline-block"
                    />
                </h1>
                <p class="text-lg text-white mt-4 animate-fade-in animate-delay-1000 animate-duration-400 sm:text-xl max-w-2xl">
                    Join us as we share our indie-pop journey, stream live from
                    our studio, and connect with a community that values
                    creativity and fun.
                </p>
            </header>
        )
    }

    <button
        id="scroll-down"
        title="Scroll down"
        aria-label="Scroll down"
        class="z-[1000] absolute bottom-5 left-1/2 transform -translate-x-1/2 animate-duration-[2000ms] animate-bouncing animate-iteration-count-infinite"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8 text-white animate-bounce"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
        </svg>
    </button>
</section>

<style>
    #backdrop-image {
        mask-image: linear-gradient(
            black 1%,
            rgba(0, 0, 0, 0.5) 20%,
            rgba(0, 0, 0, 0.1) 60%,
            transparent
        );
    }
</style>

<script>
    import { $ } from "@/lib/dom-selector";

    document.addEventListener("astro:page-load", () => {
        const $scrollDownButton = $("#scroll-down");

        $scrollDownButton?.addEventListener("click", () => {
            window.scrollTo({
                top: window.innerHeight,
                behavior: "smooth",
            });
        });
    });
</script>
