---
import SectionTitle from "@components/SectionTitle.astro";

const getUTCTimestamp = (
    day: number,
    localHour: number,
    localOffset: number,
) => {
    // Crear una fecha en UTC en la medianoche (00:00) del día actual
    const date = new Date(
        Date.UTC(
            new Date().getUTCFullYear(),
            new Date().getUTCMonth(),
            new Date().getUTCDate(),
        ),
    );

    // Ajustar al día de la semana deseado
    const currentUTCDay = date.getUTCDay();
    const targetDay = (day + 7 - currentUTCDay) % 7;
    date.setUTCDate(date.getUTCDate() + targetDay);

    // Convertir la hora local a UTC
    const utcHour = localHour + localOffset; // Brazil Time (GMT-3) tiene un offset de +3 horas respecto a UTC

    // Establecer la hora en UTC
    date.setUTCHours(utcHour, 0, 0, 0);
    return date.toISOString();
};

// Offset para Brazil Time (GMT-3)
const BRT_OFFSET = 3;

const schedules = [
    {
        title: "Thursday",
        time: "4:00 PM",
        utc: getUTCTimestamp(4, 16, BRT_OFFSET), // Jueves a las 16:00 BRT
        endUtc: getUTCTimestamp(4, 20, BRT_OFFSET), // Jueves a las 20:00 BRT
    },
    {
        title: "Friday",
        time: "4:00 PM",
        utc: getUTCTimestamp(5, 16, BRT_OFFSET), // Viernes a las 16:00 BRT
        endUtc: getUTCTimestamp(5, 20, BRT_OFFSET), // Viernes a las 20:00 BRT
    },
    {
        title: "Saturday",
        time: "4:00 PM",
        utc: getUTCTimestamp(6, 16, BRT_OFFSET), // Sábado a las 16:00 BRT
        endUtc: getUTCTimestamp(6, 20, BRT_OFFSET), // Sábado a las 20:00 BRT
    },
    {
        title: "Sunday",
        time: "2:00 PM",
        utc: getUTCTimestamp(0, 14, BRT_OFFSET), // Domingo a las 14:00 BRT
        endUtc: getUTCTimestamp(0, 18, BRT_OFFSET), // Domingo a las 18:00 BRT
    },
];
---

<section
    id="stream-schedules"
    class="mt-28 max-w-5xl flex flex-col justify-center items-center mx-auto"
>
    <header class="text-center">
        <SectionTitle title="Stream Schedules 🕑️" />
        <p class="text-lg text-gray-200 max-w-3xl mx-auto mt-20 px-2">
            Check out our stream schedules and join us on our live shows.
        </p>
    </header>

    <div class="mt-8 w-full mx-auto px-4">
        <table
            class="table-auto max-w-xl w-full p-4 mx-auto border border-separate border-opacity-70 rounded-lg"
        >
            <thead>
                <tr>
                    <th class="text-left">Day</th>
                    <th class="text-left">Time</th>
                </tr>
            </thead>
            <tbody>
                {
                    schedules.map((schedule) => (
                        <tr>
                            <script
                                type="application/ld+json"
                                is:inline
                                set:html={JSON.stringify({
                                    "@context": "https://schema.org",
                                    "@type": "Event",
                                    name: "The Tangerine Club Live Stream",
                                    startDate: schedule.utc,
                                    endDate: schedule.endUtc,
                                    url: "https://twitch.tv/thetangerineclub",
                                    eventStatus:
                                        "https://schema.org/EventScheduled",
                                    location: {
                                        "@type": "VirtualLocation",
                                        url: "https://twitch.tv/thetangerineclub",
                                        name: "The Tangerine Club Twitch Channel",
                                    },
                                    performer: {
                                        "@type": "MusicGroup",
                                        name: "The Tangerine Club",
                                    },
                                    organizer: {
                                        "@type": "Organization",
                                        name: "The Tangerine Club",
                                        url: "https://thetangerineclub.net",
                                    },
                                })}
                            />
                            <td class="pr-16">{schedule.title}</td>
                            <td>{schedule.time}</td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
    </div>
    <span class="-skew-x-6 text-gray-100 mt-4">
        * All times are in Brazil Time (GMT-3)
    </span>
</section>
